NEW_API_BASE_URL=http://host.docker.internal:3000
WATCH_PATH_PREFIX=/v1/
WATCH_METHODS=*
WRITE_FILE_LOG=true
WRITE_RAW_BODY=false
MAX_BODY_BYTES=0
WRITE_RESPONSE_BODY=true
MAX_RESPONSE_BODY_BYTES=262144
LOG_DIR=/logs
TZ=Asia/Shanghai
UI_MAX_TURNS=200
UI_TAIL_INTERVAL_SECONDS=1
